/*
Theme Name: Pop Rock
Description: Used to style Gutenberg Blocks.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Blocks - General Styles
2.0 Blocks - Common Blocks
3.0 Blocks - Formatting
4.0 Blocks - Layout Elements
5.0 Blocks - Widgets
6.0 Blocks - Colors
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Blocks - General Styles
--------------------------------------------------------------*/

/* Captions */
[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	border: none;
	font-size: inherit;
	font-style: italic;
	line-height: inherit;
	margin: 0;
	padding: 7px 14px;
	text-align: center;
}

.no-sidebar .alignfull {
	margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.no-sidebar .alignwide  {
	margin-left  : calc( -96vw / 2 + 100% / 2 );
    margin-right : calc( -96vw / 2 + 100% / 2 );
	max-width: 96vw;
}

.alignfull.wp-block-cover,
.alignwide.wp-block-cover {
	width: auto;
}


/* 1024px */
@media screen and (max-width: 1023px) and (min-width: 768px) {
	.alignfull  {
		margin-left  : calc( -96vw / 2 + 100% / 2 );
	    margin-right : calc( -96vw / 2 + 100% / 2 );
		max-width: 96vw;
	}
	
	.fluid-layout .alignfull {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
	    margin-right : calc( -100vw / 2 + 100% / 2 );
	    max-width    : 100vw;
	}
}

/* 1024px */
@media screen and (min-width: 64em) {
	.no-sidebar .alignfull  {
		margin-left  : calc( -96vw / 2 + 100% / 2 );
	    margin-right : calc( -96vw / 2 + 100% / 2 );
		max-width: 96vw;
	}

	.no-sidebar.fluid-layout .alignfull {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
	    margin-right : calc( -100vw / 2 + 100% / 2 );
	    max-width    : 100vw;
	}

	.no-sidebar .alignwide {
		margin-left: -35px;
		margin-right: -35px; 
		max-width: 1230px;
	}

	.no-sidebar.full-width-layout .alignwide {
		max-width: 1580px;
	}
}

/* 1366px */
@media screen and (min-width: 85.375em) {
	.no-sidebar:not(.full-width-layout) .alignwide {
	    margin-left: -120px;
	    margin-right: -120px;
	}
}

/*--------------------------------------------------------------
2.0 Blocks - Common Blocks
--------------------------------------------------------------*/

/* Paragraph */
.wp-block-paragraph.has-drop-cap:not(:focus):first-letter {
	font-size: 96px;
	font-size: 6rem;
	float: left;
	line-height: 0.6;
	margin: 7px 16px 7px -3px;
}

.rtl .wp-block-paragraph.has-drop-cap:not(:focus):first-letter {
	margin: 7px  7px -3px  16px;
}

/* Image */
.wp-block-image {
	margin-bottom: 1.75em;
}

.wp-block-image figure {
	margin-bottom: 0;
	margin-top: 0;
}

.wp-block-image figure.alignleft {
	margin: 0.375em 1.75em 1.75em 0;
}

.wp-block-image figure.alignright {
	margin: 0.375em 0 1.75em 1.75em;
}

/* Gallery */
.wp-block-gallery {
	margin-bottom: 1.75em;
	margin-left: 0;
}

.wp-block-gallery figcaption {
	font-style: italic;
}

.wp-block-gallery.aligncenter {
	display: flex;
	margin: 0 -8px;
}

/* Quote */
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.75em 0;
}

.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.wp-block-quote:not(.is-large):not(.is-style-large):before {
	content: none;
}

.wp-block-quote.alignleft p:last-of-type,
.wp-block-quote.alignright p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote cite {
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.555555555555556;
}

@media screen and (min-width: 90em) {
	.wp-block-quote cite {
		font-size: 17px;
		font-size: 1.0625rem;
	}	
}

/* Audio */
.wp-block-audio audio {
	display: block;
	width: 100%;
}

/* Cover */
.wp-block-cover-image.alignright,
.wp-block-cover.alignright,
.wp-block-cover-image.alignleft,
.wp-block-cover.alignleft,
.wp-block-cover-image.aligncenter,
.wp-block-cover.aligncenter {
	display: flex;
}

/* File */
.wp-block-file .wp-block-file__button {
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
	margin-top: 2em;
	padding: 0.7em 2em;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}


/*--------------------------------------------------------------
3.0 Blocks - Formatting
--------------------------------------------------------------*/

/* Editor Font Size */
.has-huge-font-size {
	font-size: 34px;
	font-size: 2.125rem;
	line-height: 1.2;
}

.has-large-font-size {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.375;
}

.has-normal-font-size {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.555555555555556;
}

.has-small-font-size {
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 1.75;
}

/* 1024px */
@media screen and (min-width: 64em) {
	.editor-post-title__block .editor-post-title__input {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.has-huge-font-size {
	   font-size: 52px;
	   font-size: 3.25rem;
	}

	.has-large-font-size {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.has-normal-font-size {
		font-size: 17px;
		font-size: 1.0625rem;
	}
}

/* 1366px */
@media screen and (min-width: 85.375em) {
	.editor-post-title__block .editor-post-title__input {
		font-size: 48px;
		font-size: 3rem;
	}

	.has-huge-font-size {
	    font-size: 64px;
	    font-size: 4rem;
	}

	.has-large-font-size {
		font-size: 48px;
		font-size: 3rem;
	}

	.has-small-font-size {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

/* 1600px */
@media screen and (min-width: 100em) {
	.has-huge-font-size {
	    font-size: 72px;
	    font-size: 4.5rem;
	}
}


/* Code */
.wp-block-code {
	background: transparent;
	font-size: 16px;
	font-size: 1rem;
	border: 0;
	padding: 0;
}

.wp-block-code cite:before,
.wp-block-code small:before {
	content: "\2014\00a0";
}

.wp-block-quote__citation {
	font-size: 16px;
	font-size: 1rem;
}

/* Pullquote */
.wp-block-pullquote {
    border-top: 4px solid;
    border-bottom: 4px solid;
    padding: 1.263157895em 0;
    margin: 1.75em 0;
}

@media screen and (min-width: 90em) {
	.wp-block-quote__citation {
		font-size: 17px;
		font-size: 1.0625rem;
	}
}

.wp-block-pullquote blockquote {
    border: none;
    padding: 0;
    margin: 0;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
    max-width: none;
    width: calc(50% - 0.736842105em);
    padding-left: 0;
    text-align: left;
}

.wp-block-pullquote.alignleft {
	margin: 0.375em 1.75em 1.75em 0;
}

.wp-block-pullquote.alignright  {
	margin: 0.375em 0 1.75em 1.75em;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite {
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-style: normal;
	line-height: 1.555555555555556;
	text-transform: none;
}

@media screen and (min-width: 90em) {
	.wp-block-pullquote__citation,
	.wp-block-pullquote cite {
		font-size: 17px;
		font-size: 1.0625rem;
	}
}

.wp-block-pullquote p,
.wp-block-pullquote.alignleft p, 
.wp-block-pullquote.alignright p {
	font-size: inherit;
}


/* Table */
.wp-block-table {
    border-collapse: collapse;
}

.wp-block-table,
.wp-block-table caption {
	border-top: 1px solid;
}

.wp-block-table tr {
	border-bottom: 1px solid;
}

.wp-block-table caption,
.wp-block-table th,
.wp-block-table td {
    padding: 0.778em;
}

.wp-block-table th,
.wp-block-table td {
	border: none;
}


/*--------------------------------------------------------------
4.0 Blocks - Layout Elements
--------------------------------------------------------------*/

/* Buttons */
.wp-block-button {
	margin-top: 1.75em;
	margin-bottom: 1.75em;
}

.wp-block-button.alignleft,
.wp-block-button.alignright {
	margin-top: 0;
}

.wp-block-button .wp-block-button__link {
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1;
	padding: 17px 28px;
	text-transform: uppercase;
	white-space: nowrap;
}

.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Separator */
.wp-block-separator {
	border: 0;
	margin: 2.059em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

/* Media & Text */
.wp-block-media-text {
	margin-bottom: 1.555555555555556em;
}

.wp-block-media-text *:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
5.0 Blocks - Widgets
--------------------------------------------------------------*/

/* Archives, Categories & Latest Posts */
.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter {
	list-style-position: inside;
	text-align: center;
}

.wp-block-latest-posts.is-grid {
	margin-left: 0;
}

.wp-block-latest-posts__post-date {
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
}

/* Comments */
.wp-block-latest-comments__comment {
	border-top: 1px solid;
	margin: 0;
	padding: 35px 0;
}

.wp-block-latest-comments article {
	margin-bottom: 0;
}

.blog:not(.has-sidebar) #primary .wp-block-latest-comments article,
.archive:not(.page-one-column):not(.has-sidebar) #primary .wp-block-latest-comments article,
.search:not(.has-sidebar) #primary .wp-block-latest-comments article {
	float: none;
	width: 100%;
}

.wp-block-latest-comments a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-block-latest-comments__comment-meta {
	margin-bottom: 14px;
}

.wp-block-latest-comments__comment-meta, 
.wp-block-latest-comments__comment-excerpt p {
	font-size: 16px;
	font-size: 1rem;
}

@media screen and (min-width: 64em) {
	.wp-block-latest-comments__comment-meta, 
	.wp-block-latest-comments__comment-excerpt p {
		font-size: 17px;
		font-size: 1.0625rem;
	}	
}

.wp-block-latest-comments__comment-excerpt >:last-child {
	margin-bottom: 0;
}

.wp-block-latest-comments__comment-author,
.wp-block-latest-comments__comment-link {
	font-weight: 700;
	text-decoration: none;
}

.wp-block-latest-comments__comment-date {
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 0.1em;
	margin: 0 5px;
	text-transform: uppercase;
}


/*--------------------------------------------------------------
6.0 Blocks - Colors
--------------------------------------------------------------*/

.wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link {
	background-color: #ff6465;
	color: #fff;
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
	background-color: #000;
	color: #fff;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-latest-posts__post-date, 
.wp-block-latest-comments__comment-date,
[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	color: #a5a5a5;
}

[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	background-color: #f7f7f7;
}

.wp-block-quote cite {
	color: #a5a5a5;
}

.wp-block-pullquote {
    border-color: #676767;
    color: #676767;
}

.wp-block-table,
.wp-block-table caption,
.wp-block-table tr,
.wp-block-latest-comments__comment {
	border-color: #f0f0f0;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-color: #ff6465;
}

.has-white-color {
	color: #fff;
}

.has-white-background-color {
	background-color: #fff;
}

.has-black-color {
	color: #000;
}

.has-black-background-color {
	background-color: #000;
}

.has-medium-black-color {
	color: #676767;
}

.has-medium-black-background-color {
	background-color: #676767;
}

.has-gray-color {
	color: #f7f7f7;
}

.has-gray-background-color {
	background-color: #f7f7f7;
}

.has-red-color {
	color: #ff6465;
}

.has-red-background-color {
	background-color: #ff6465;
}