/*
Theme Name: Pop Rock
Description: Used to style the TinyMCE editor


/**
 * Table of Contents
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Padding/Margin
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 * 7.0 - Alignments
 * 8.0 - Posts and pages
 * 9.0 - Media
 * 10.0 - Captions
 * 11.0 - Galleries
 * 12.0 - Audio Section
 * 13.0 - Media Queries
 *    13.1 - >= 1024px
 *	  13.2 - >= 1200px
 *	  13.3 - >= 1440px
 * 14.0 - RTL
 * 15.0 - Colors
 */


/**
 * 1.0 - Body
 */

body {
	margin: 25px;
	max-width: 1040px;
}


/**
 * 2.0 - Typography
 */

body,
button,
input,
select,
textarea {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.647058823529412;
}

blockquote {
	font-size: 20px;
	font-size: 1.25rem;
}

.wp-caption .wp-caption-text {
	font-size: 17px;
	font-size: 1.0625rem;
}

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 15px;
    font-size: 0.9375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 600;
	line-height: 1.4;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	overflow: hidden;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
}

blockquote p {
	margin-bottom: 1.167em;
}

blockquote cite,
blockquote small {
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
	text-decoration: underline;
}

/*blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}*/

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp {
	font-family: Inconsolata, monospace;
	font-size: 16px;
	font-size: 1rem;
}

pre {
	font-family: Inconsolata, monospace;
	font-size: 1em;
	line-height: 1.555;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
.mce-content-body code {
	background-color: transparent;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

mark,
ins {
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/**
 * 3.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

hr {
	border: 0;
	height: 1px;
	margin: 0 auto 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.5em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
.mce-item-table,
caption,
.mce-item-table caption {
	border-top: 1px solid;
}

tr,
.mce-item-table tr {
    border-bottom: 1px solid;
}

th,
.mce-item-table th,
td,
.mce-item-table td {
	border: none;
}

table,
.mce-item-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption,
.mce-item-table caption {
    border-width: 1px 1px 0 1px;
    font-weight: 700;
    text-align: center;
}

th,
.mce-item-table th,
td,
.mce-item-table td {
    font-weight: normal;
}

th,
.mce-item-table th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td,
.mce-item-table td {
    border-width: 0 1px 1px 0;
}

caption,
th,
td {
    padding: 0.778em;
}

.displaynone {
	display: none;
}

.displayblock {
	display: block;
}

.cover-link {
	display: block;
	height: 100%;
}

.drop-cap:first-letter {
    float: left;
   font-size: 92px;
   font-size: 5.75rem;
    line-height: 0.6;
    margin: 14px 16px 6px -3px;

}


/**
 * 4.0 - Padding/Margin
 */

.wp-caption .wp-caption-text {
	padding: 7px 14px;
}

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 17px 28px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	padding: 14px 21px;
}

.comment-form label {
	margin-bottom: 7px;
}


/**
 * 5.0 - Forms
 */

input {
	line-height: normal;
}

button[disabled]:hover,
button[disabled]:focus,
.button,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background-color: transparent;
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1;
	text-transform: uppercase;
}

.entry-content .button,
.entry-summary .button {
	box-shadow: none;
}

.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background-color: transparent;
	border: 2px solid;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: transparent;
	outline: 0;
}

/**
 * 6.0 - Navigation
 */

/**
 * 6.1 - Links
 */

a {
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}


/**
 * 7.0 - Alignments
 */

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}


/**
 * 8.0 - Posts and pages
 */

h1 {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.25;
	margin-top: 1.166666666666667em;
	margin-bottom: 0.5833333333333333em;
}

h2 {
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 1.2173913043;
	margin-top: 1.555555555555556em;
	margin-bottom: 0.778em;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.1052631579;
	margin-top: 1.750em;
	margin-bottom: 0.875em;
}

h4 {
	font-size: 22px;
	font-size: 1.375rem;
}

h5 {
	font-size: 18px;
	font-size: 1.125rem;
}

h6 {
	font-size: 16px;
	font-size: 1rem;
}

h4,
h5,
h6 {
	line-height: 1.3125;
	margin-top: 2.153846153846154em;
	margin-bottom: 1.076923076923077em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */
.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.75em;
}

.page-links a,
.page-links > span {
	border: 1px solid;
	border-radius: 5px;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	height: 1.8461538462em;
	line-height: 1.6923076923em;
	margin-right: 0.3076923077em;
	text-align: center;
	width: 1.8461538462em;
}

.page-links a:hover,
.page-links a:focus {
	border-color: transparent;
}

.page-links > .page-links-title {
	border: 0;
	height: auto;
	margin: 0;
	padding-right: 0.6153846154em;
	width: auto;
}

.entry-attachment {
	margin-bottom: 1.75em;
}

.entry-caption {
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 1.0769230769em;
}

.entry-caption > :last-child {
	margin-bottom: 0;
}


/**
 * 9.0 - Media
 */

 /* Make sure embeds and iframes fit their containers. */
 embed,
 iframe,
 object,
 video {
     /*margin-bottom: 1.75em;*/
     max-width: 100%;
     vertical-align: middle;
 }

 p > embed,
 p > iframe,
 p > object,
 p > video {
     margin-bottom: 0;
 }

 .wp-audio-shortcode,
 .wp-video/*,
 .wp-playlist.wp-audio-playlist*/ {
     margin-top: 0;
     margin-bottom: 1.75em;
 }

 /*.wp-playlist.wp-audio-playlist {
     padding-bottom: 0;
 }*/

 /*.wp-playlist .wp-playlist-tracks {
     margin-top: 0;
 }

 .wp-playlist-item .wp-playlist-caption {
     border-bottom: 0;
     padding: 0.7142857143em 0;
 }*/

 .wp-playlist-item .wp-playlist-item-length {
     top: 0.7142857143em;
 }


/**
 * 10.0 - Captions
 */

.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	font-style: italic;
	text-align: center;
}


/**
 * 	11.0 -  Galleries
 */

.mce-content-body .wpview-wrap {
	margin-bottom: 28px;
}

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 12.0 - Audio Player
 */

.mejs-offscreen {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.mejs-container {
    background: #000;
    font-family: Helvetica, Arial, serif;
    position:relative;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
}

.mejs-container,
.mejs-container * {
    box-sizing: border-box;
}

.mejs-container video::-webkit-media-controls,
.mejs-container video::-webkit-media-controls-panel,
.mejs-container video::-webkit-media-controls-panel-container,
.mejs-container video::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    display: none!important;
}

.mejs-fill-container,
.mejs-fill-container .mejs-container {
    height: 100%;
    width: 100%;
}

.mejs-fill-container {
    background: 0 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.mejs-container:focus {
    outline: none;
}

.mejs-iframe-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
}

.mejs-embed,
.mejs-embed body {
    background: #000;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.mejs-fullscreen {
    overflow: hidden!important;
}

.mejs-container-fullscreen {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
    height: 100%!important;
    width: 100%!important;
}

.mejs-background,
.mejs-mediaelement {
    left: 0;
    position: absolute;
    top: 0;
}

.mejs-mediaelement {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.mejs-poster {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

:root .mejs-poster-img {
    display: none;
}

.mejs-poster-img {
    border: 0;
    padding: 0;
}

.mejs-overlay {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    left:0;
    position:absolute;
    top:0;
}

.mejs-layer {
    z-index: 1;
}

.mejs-overlay-play {
    cursor: pointer;
}

.mejs-overlay-button {
    background: url(/wp-includes/js/mediaelement/mejs-controls.svg) no-repeat;
    background-position: 0 -39px;
    height: 80px;
    width: 80px;
}

.mejs-overlay:hover>.mejs-overlay-button {
    background-position: -80px -39px;
}

.mejs-overlay-loading {
    height: 80px;
    width: 80px;
}

.mejs-overlay-loading-bg-img {
    -webkit-animation: a 1s linear infinite;
    animation: a 1s linear infinite;
    background: transparent url(/wp-includes/js/mediaelement/mejs-controls.svg) -160px -40px no-repeat;
    display: block;
    height: 80px;
    width: 80px;
    z-index: 1;
}

@-webkit-keyframes a {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes a {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.mejs-controls {
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    padding: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.mejs-controls:not([style*="display: none"]) {
    background: rgba(255, 0, 0, .7);
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .35));
    background: linear-gradient(transparent, rgba(0, 0, 0, .35));
}

.mejs-button,
.mejs-time,
.mejs-time-rail {
    font-size: 10px;
    height: 40px;
    line-height: 10px;
    margin: 0;
    width: 40px;
}

.mejs-button>button {
    background: transparent url(/wp-includes/js/mediaelement/mejs-controls.svg);
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    margin: 10px 6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 20px;
}

.mejs-button>button:focus {
    outline: 1px dotted #999;
}

.mejs-container-keyboard-inactive [role=slider],
.mejs-container-keyboard-inactive [role=slider]:focus,
.mejs-container-keyboard-inactive a,
.mejs-container-keyboard-inactive a:focus,
.mejs-container-keyboard-inactive button,
.mejs-container-keyboard-inactive button:focus {
    outline: 0;
}

.mejs-time {
    box-sizing: content-box;
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    height: 24px;
    overflow: hidden;
    padding: 16px 10px 0;
    text-align: center;
    width: auto;
}

.mejs-play>button {
    background-position: 0 0;
}

.mejs-pause>button {
    background-position: -20px 0;
}

.mejs-replay>button {
    background-position: -160px 0;
}

.mejs-time-rail {
    direction: ltr;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 40px;
    margin: 0 10px;
    padding-top: 10px;
    position: relative;
}

.mejs-time-buffering,
.mejs-time-current,
.mejs-time-float,
.mejs-time-float-corner,
.mejs-time-float-current,
.mejs-time-hovered,
.mejs-time-loaded,
.mejs-time-marker,
.mejs-time-total {
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 4px;
    position: absolute;
}

.mejs-time-total {
    background: hsla(0, 0%, 100%, .3);
    margin: 5px 0 0;
    width: 100%;
}

.mejs-time-buffering {
    -webkit-animation: b 2s linear infinite;
    animation: b 2s linear infinite;
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 100%, .4) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, .4) 75%, transparent 0, transparent);
    background: linear-gradient(-45deg, hsla(0, 0%, 100%, .4) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, .4) 75%, transparent 0, transparent);
    background-size: 15px 15px;
    width: 100%;
}

@-webkit-keyframes b {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

@keyframes b {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

.mejs-time-loaded {
    background: hsla(0, 0%, 100%, .3);
}

.mejs-time-current,
.mejs-time-handle-content {
    background : #ff6465;
}

.mejs-time-hovered {
    background: hsla(0, 0%, 100%, .5);
    z-index: 10;
}

.mejs-time-hovered.negative {
    background: rgba(0, 0, 0, .2);
}

.mejs-time-buffering,
.mejs-time-current,
.mejs-time-hovered,
.mejs-time-loaded {
    left: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    width: 100%;
}

.mejs-time-buffering {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.mejs-time-hovered {
    -webkit-transition: height .1s cubic-bezier(.44, 0, 1, 1);
    transition: height .1s cubic-bezier(.44, 0, 1, 1);
}

.mejs-time-hovered.no-hover {
    -webkit-transform: scaleX(0)!important;
    -ms-transform: scaleX(0)!important;
    transform: scaleX(0)!important;
}

.mejs-time-handle,
.mejs-time-handle-content {
    border: 2px solid;
    border-color: #ff6465;
    cursor: pointer;
    left: 0;
    position: absolute;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 11;
}

.mejs-time-handle-content {
    border: 2px solid;
    border-color: #ff6465;
    border-radius: 50%;
    height: 10px;
    left: -3px;
    top: -5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    width: 10px;
}

.mejs-time-float {
    background: #eee;
    border: 1px solid #333;
    bottom: 100%;
    color: #111;
    display: none;
    height: 17px;
    margin-bottom: 9px;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 36px;
}

.mejs-time-float-current {
    display: block;
    left: 0;
    margin: 2px;
    text-align: center;
    width: 30px;
}

.mejs-time-float-corner {
    border: 5px solid #eee;
    border-color: #eee transparent transparent;
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
}

.mejs-long-video .mejs-time-float {
    margin-left: -23px;
    width: 64px;
}

.mejs-long-video .mejs-time-float-current {
    width: 60px;
}

.mejs-broadcast {
    color: #fff;
    height: 10px;
    position: absolute;
    top: 15px;
    width: 100%;
}

.mejs-fullscreen-button>button {
    background-position: -80px 0;
}

.mejs-unfullscreen>button {
    background-position: -100px 0;
}

.mejs-mute>button {
    background-position: -60px 0;
}

.mejs-unmute>button {
    background-position: -40px 0;
}

.mejs-volume-button {
    position: relative;
}

.mejs-volume-button>.mejs-volume-slider {
    -webkit-backface-visibility: hidden;
    background: rgba(50, 50, 50, .7);
    border-radius: 0;
    bottom: 100%;
    display: none;
    height: 115px;
    left: 50%;
    margin: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 25px;
    z-index: 1;
}

.mejs-volume-button:hover {
    border-radius: 0 0 4px 4px;
}

.mejs-volume-total {
    background: hsla(0, 0%, 100%, .5);
    height: 100px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 8px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
}

.mejs-volume-current {
    left: 0;
    margin: 0;
    width: 100%;
}

.mejs-volume-current,
.mejs-volume-handle {
    background: hsla(0, 0%, 100%, .9);
    position: absolute;
}

.mejs-volume-handle {
    border-radius: 1px;
    cursor: ns-resize;
    height: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 16px;
}

.mejs-horizontal-volume-slider {
    display: block;
    height: 36px;
    position: relative;
    vertical-align: middle;
    width: 56px;
}

.mejs-horizontal-volume-total {
    background: rgba(50, 50, 50, .8);
    height: 8px;
    top: 16px;
    width: 50px;
}

.mejs-horizontal-volume-current,
.mejs-horizontal-volume-total {
    border-radius: 2px;
    font-size: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.mejs-horizontal-volume-current {
    background: hsla(0, 0%, 100%, .8);
    height: 100%;
    top: 0;
    width: 100%;
}

.mejs-horizontal-volume-handle {
    display: none;
}

.mejs-captions-button,
.mejs-chapters-button {
    position: relative;
}

.mejs-captions-button>button {
    background-position: -140px 0;
}

.mejs-chapters-button>button {
    background-position: -180px 0;
}

.mejs-captions-button>.mejs-captions-selector,
.mejs-chapters-button>.mejs-chapters-selector {
    background: rgba(50, 50, 50, .7);
    border: 1px solid transparent;
    border-radius: 0;
    bottom: 100%;
    margin-right: -43px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 50%;
    visibility: visible;
    width: 86px;
}

.mejs-chapters-button>.mejs-chapters-selector {
    margin-right: -55px;
    width: 110px;
}

.mejs-captions-selector-list,
.mejs-chapters-selector-list {
    list-style-type: none!important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.mejs-captions-selector-list-item,
.mejs-chapters-selector-list-item {
    color: #fff;
    cursor: pointer;
    display: block;
    list-style-type: none!important;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0 10px;
}

.mejs-captions-selector-list-item:hover,
.mejs-chapters-selector-list-item:hover {
    background-color: #c8c8c8!important;
    background-color: hsla(0, 0%, 100%, .4)!important;
}

.mejs-captions-selector-input,
.mejs-chapters-selector-input {
    clear: both;
    float: left;
    left: -1000px;
    margin: 3px 3px 0 5px;
    position: absolute;
}

.mejs-captions-selector-label,
.mejs-chapters-selector-label {
    cursor: pointer;
    float: left;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 0 0;
}

.mejs-captions-selected,
.mejs-chapters-selected {
    color: #21f8f8;
}

.mejs-captions-translations {
    font-size: 10px;
    margin: 0 0 5px;
}

.mejs-captions-layer {
    bottom: 0;
    color: #fff;
    font-size: 16px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
}

.mejs-captions-layer a {
    color: #fff;
    text-decoration: underline;
}

.mejs-captions-layer[lang=ar] {
    font-size: 20px;
    font-weight: 400;
}

.mejs-captions-position {
    bottom: 15px;
    left: 0;
    position: absolute;
    width: 100%;
}

.mejs-captions-position-hover {
    bottom: 35px;
}

.mejs-captions-text,
.mejs-captions-text * {
    background: hsla(0, 0%, 8%, .5);
    box-shadow: 5px 0 0 hsla(0, 0%, 8%, .5), -5px 0 0 hsla(0, 0%, 8%, .5);
    padding: 0;
    white-space: pre-wrap;
}

.mejs-container.mejs-hide-cues video::-webkit-media-text-track-container {
    display: none;
}

.mejs-overlay-error {
    position: relative;
}

.mejs-overlay-error>img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

.mejs-cannotplay,
.mejs-cannotplay a {
    color: #fff;
    font-size: .8em;
}

.mejs-cannotplay {
    position: relative;
}

.mejs-cannotplay a,
.mejs-cannotplay p {
    display: inline-block;
    padding: 0 15px;
    width: 100%;
}

.wp-playlist-caption,
.wp-playlist-current-item .wp-playlist-item-artist,
.wp-playlist-current-item .wp-playlist-item-title,
.wp-playlist-item-album {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mejs-container {
    clear: both;
    max-width: 100%;
}

.mejs-container * {
    font-family: Helvetica, Arial;
}

.mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
    background: #222;
}

.mejs-time {
    font-weight: 400;
    word-wrap: normal;
}

.mejs-controls a.mejs-horizontal-volume-slider {
    display: table;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #0073aa;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-time-rail .mejs-time-total {
    background: rgba(255, 255, 255, .33);
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    border-radius: 0;
}

.mejs-overlay-loading {
    background: 0 0;
}

.mejs-controls button:hover {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.me-cannotplay {
    width: auto!important;
}

.media-embed-details .wp-audio-shortcode {
    display: inline-block;
    max-width: 400px;
}

.audio-details .embed-media-settings {
    overflow: visible;
}

.media-embed-details .embed-media-settings .setting span {
    max-width: 400px;
    width: auto;
}

.media-embed-details .embed-media-settings .checkbox-setting span {
    display: inline-block;
}

.media-embed-details .embed-media-settings {
    padding-top: 0;
    top: 28px;
}

.media-embed-details .instructions {
    padding: 16px 0;
    max-width: 600px;
}

.media-embed-details .setting .remove-setting,
.media-embed-details .setting p {
    color: #a00;
    font-size: 10px;
    text-transform: uppercase;
}

.media-embed-details .setting .remove-setting {
    padding: 0;
}

.media-embed-details .setting a:hover {
    color: #dc3232;
}

.media-embed-details .embed-media-settings .checkbox-setting {
    float: none;
    margin: 0 0 10px;
}

.wp-video {
    max-width: 100%;
    height: auto;
}

.wp_attachment_holder .wp-audio-shortcode,
.wp_attachment_holder .wp-video {
    margin-top: 18px;
}

.wp-video-shortcode video,
video.wp-video-shortcode {
    max-width: 100%;
    display: inline-block;
}

.video-details .wp-video-holder {
    width: 100%;
    max-width: 640px;
}

.wp-playlist {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 12px 0 18px;
    font-size: 14px;
    line-height: 1.5;
}

.wp-admin .wp-playlist {
    margin: 0 0 18px;
}

.wp-playlist video {
    display: inline-block;
    max-width: 100%;
}

.wp-playlist audio {
    display: none;
    max-width: 100%;
    width: 400px;
}

.wp-playlist-caption,
.wp-playlist-item-meta {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
}

.wp-playlist .mejs-container {
    margin: 0;
    max-width: 100%;
}

.wp-playlist .mejs-controls .mejs-button button {
    outline: 0;
}

.wp-playlist-light {
    background: #fff;
    color: #000;
}

.wp-playlist-dark {
    color: #fff;
    background: #232323;
}

.wp-playlist-caption {
    max-width: 88%;
}

.wp-playlist-item .wp-playlist-caption {
    text-decoration: none;
    color: #000;
    max-width: -webkit-calc(100% - 40px);
    max-width: calc(100% - 40px);
}

.wp-playlist-item-title {
    font-size: 14px;
    line-height: 1.5;
}

.wp-playlist-item-album {
    font-style: italic;
}

.wp-playlist-item-artist {
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: capitalize;
}

.wp-playlist-item-length {
    position: absolute;
    right: 3px;
    top: 0;
    font-size: 14px;
    line-height: 1.5;
}

.wp-playlist-tracks {
    margin-top: 10px;
}

.wp-playlist-item {
    position: relative;
    cursor: pointer;
    padding: 0 3px;
    border-bottom: 1px solid #ccc;
}

.wp-playlist-item:last-child {
    border-bottom: 0;
}

.wp-playlist-dark .wp-playlist-caption {
    color: #ddd;
}

.wp-playlist-playing {
    font-weight: normal;
    background: #f7f7f7;
}

.wp-playlist-light .wp-playlist-playing {
    background: #fff;
    color: #000;
}

.wp-playlist-dark .wp-playlist-playing {
    background: #000;
    color: #fff;
}

.wp-playlist-current-item {
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
}

.wp-playlist .wp-playlist-current-item img {
    float: left;
    max-width: 60px;
    height: auto;
    margin-right: 10px;
    padding: 0;
    border: 0;
}

.wp-audio-playlist .me-cannotplay span {
    padding: 5px 15px;
}

.mejs-toggle-playlist button {
    z-index: 3;;
}

.mejs-container {
    background: 0 0;
    padding-bottom: .625em;
}

.mejs-container .mejs-controls {
    background: 0 0;
    margin: 0;
    position: relative;
}

.mejs-container .mejs-controls a:hover {
    opacity: 1;
}

.mejs-container .mejs-controls .mejs-button {
    cursor: pointer;
    display: block;
    height: 40px;
    position: relative;
}

.mejs-container .mejs-button button {
    background: 0 0;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mejs-container .mejs-controls .mejs-button button:before {
    font-size: 16px;
    font-size: 1rem;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    border-radius: 0;
    height: 4px;
    top: 10px;
}

.mejs-container .mejs-controls .mejs-time {
    color: #4d4d4d;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
}

.mejs-container .mejs-controls .mejs-time-rail {
    height: 40px;
    margin: 0;
    padding: 18px 0 0;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float {
    border: none;
    margin: 0;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float {
    height: 0;
    overflow: hidden;
    top: -1.9em;
    visibility: hidden;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    border-top-color: #ddd;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float {
    background-color: #fff;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #c3b17c;
}

.mejs-container .mejs-controls .mejs-horizontal-volume-slider {
    height: 10px;
    margin-top: 18px;
}

.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #fff
}

.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #c3b17c;
}

.mejs-container button {
    color: #222222;
}

.wp-playlist-dark .mejs-container button {
	color: #fff;
}

.wp-audio-shortcode {
    border: none;
    margin: 1.313em 0 2.625em;
}

.wp-video-shortcode.mejs-container {
    padding: 0;
}

.wp-video-shortcode.mejs-container .mejs-controls {
    background: #222;
    top: auto;
}

body .wp-playlist {
    border: none;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.625;
    margin: 0.875em 0 2.625em;
    padding: 0;
    position: relative;;
}

body .wp-playlist .wp-playlist-current-item img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

body .wp-playlist-caption,
body .wp-playlist-item-title {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

body .wp-playlist-caption:hover {
    opacity: 1;
}

body .wp-playlist-current-item {
    border:none;
    height: auto;
    margin-bottom: 0;
    padding: .625em;

}

body .wp-playlist-current-item .wp-playlist-item-title,
body .wp-playlist-playing {
    font-weight: normal;
}

body .wp-playlist-tracks {
    border: none;
    margin: 0;
}

body .wp-playlist-item {
    padding: .75em 0;
}

body .wp-playlist-dark .wp-playlist-item {
    border-color: #313131;
    padding: .75em;
}

body .wp-playlist-item:last-child {
    border-bottom: 1px solid;
}

#top-playlist-section .wp-playlist-item-length {
    font-size: 13px;
    font-size: 0.8125rem;
}

body .wp-playlist-item-length {
    font-size: 16px;
    font-size: 1rem;
    top: auto;
    right: 0;
    bottom: 1.23076923em;
}

body .wp-playlist-dark .wp-playlist-item-length {
    right: .75em;
}

body .wp-playlist-item-artist {
    display: block;
}

body .wp-playlist-light,
body .wp-playlist-light .wp-playlist-caption,
body .wp-playlist-current-item .wp-playlist-item-title,
body .wp-playlist-playing {
    background: 0 0;
}

body .wp-playlist-item:hover,
body .wp-playlist-item:focus,
body .wp-playlist-playing,
body .wp-playlist-light .wp-playlist-playing {
    background: 0 0;
}

body  .wp-playlist.wp-playlist-dark .wp-playlist-caption {
    color: #ddd;
}

.mejs-container .mejs-controls {
	padding: 0 0.625em;
}

.wp-video-playlist .mejs-container .mejs-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.mejs-button button:before,
.mejs-container .mejs-button button:before {
	display: inline-block;
	font-family: 'FontAwesome';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mejs-container .mejs-toggle-playlist button:before {
	content:"\f0c9";
}

.mejs-container .mejs-toggle-playlist.is-open button:before {
	content:"\f00d";
}

.mejs-container .mejs-next button:before {
	content:"\f051";
}

.mejs-container .mejs-previous button:before {
	content:"\f048";
}

.mejs-container .mejs-play button:before,
.mejs-container .mejs-replay button:before {
	content:"\f04b";
}

.mejs-container .mejs-pause button:before {
	content:"\f04c";
}

.mejs-container .mejs-volume-button button:before {
	content:"\f028";
}

.mejs-container .mejs-volume-button.mejs-unmute button:before {
	content:"\f026";
}

.mejs-container .mejs-fullscreen-button button:before {
	content:"\f0b2";
}


/**
 * 13.0 - Media Queries
 */

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}


/**
 * 13.1 - >= 1024px
 */

@media screen and (min-width: 64em) {
	blockquote.alignleft,
	blockquote.alignright {
	    width: 52%;
	}

	blockquote {
		font-size: 22px;
		font-size: 1.375rem;
	}

	body,
	input,
	select,
	textarea {
		font-size: 17px;
	    font-size: 1.0625rem;
	}

	h1,
	.mce-content-body h1 {
		font-size: 36px;
		font-size: 2.25rem;
	}

	h2,
	.mce-content-body h2 {
		font-size: 32px;
		font-size: 2rem;
	}

	h3,
	.mce-content-body h3 {
		font-size: 28px;
		font-size: 1.75rem;
	}

	h4,
	.mce-content-body h4 {
		font-size: 24px;
		font-size: 1.5rem;
	}

	h5,
	.mce-content-body h5 {
		font-size: 22px;
		font-size: 1.375rem;
	}

	h6,
	.mce-content-body h6 {
		font-size: 18px;
		font-size: 1.125rem;
	}
}


/**
 * 13.2 - >= 1200px
 */

@media screen and (min-width: 75em) {
	body .wp-playlist .wp-playlist-current-item img {
	    width: 46px;
	    height: 46px;
	}
}

/**
 * 16.9 - >= 1440px
 */

 @media screen and (min-width: 90em) {
 	blockquote {
 		font-size: 24px;
 		font-size: 1.5rem;
 	}

 	blockquote cite,
 	blockquote small {
 		font-size: 18px;
 		font-size: 1.125rem;
 	}

 	h1,
 	.mce-content-body h1 {
 		font-size: 42px;
        font-size: 2.625rem;
 	}

 	h2,
 	.mce-content-body h2 {
 		font-size: 36px;
 		font-size: 2.25rem;
 	}

 	h3,
 	.mce-content-body h3 {
 		font-size: 32px;
 		font-size: 2rem;
 	}

 	h4,
 	.mce-content-body h4 {
 		font-size: 26px;
 		font-size: 1.625rem
 	}

 	blockquote cite,
 	blockquote small {
 	    font-size: 17px;
 	    font-size: 1.0625rem;
 	} 
 }


/**
 * 14.0 - RTL
 */

.rtl blockquote {
	border-left: 0;
	border-right: 4px solid #ff6465;
	padding: 0 1.263157895em 0 0;
}

.rtl blockquote > ul,
.rtl blockquote > ol {
	margin-right: 1.5em;
	margin-left: auto;
}

.rtl table th,
.rtl .mce-item-table th,
.rtl .mce-item-table td,
.rtl table caption {
	text-align: right;
}

.rtl ul,
.rtl ol {
	margin: 0 1.75em 1.5em 0;
}

.rtl li > ul,
.rtl li > ol {
	margin-bottom: 0;
}

.rtl .mejs-container {
	text-align: right;
}


/**
 * 15.0 - Colors
 */

/* Tertiary Background Color */
hr,
pre,
.wp-caption .wp-caption-text,
.wp-playlist-light .mejs-container .mejs-controls {
	background-color: #f4f4f4;
}

body .wp-playlist-item, 
body .wp-playlist-item:last-child {
	border-color: #f4f4f4;
}

/* Main Text Color */
body,
input,
select,
textarea,
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
wp-playlist-playing .wp-playlist-caption,
.wp-playlist-current-item .wp-playlist-item-title, 
body .wp-playlist-item:hover, 
body .wp-playlist-item:focus, 
body .wp-playlist-item:hover .wp-playlist-caption, 
body .wp-playlist-item:focus .wp-playlist-caption {
	color: #676767;
}

/* Headline Text Color */
h1, h2, h3, h4, h5, h6,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
.page-links > .page-links-title {
	color: #212121;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
.page-links a {
	border-color: #212121;
}

.page-links a {
    background-color: #212121;
}

/* Link Color */
a,
.mejs-container button:hover, 
.mejs-container button:focus, 
.wp-playlist-light .mejs-container button:hover, 
.wp-playlist-light .mejs-container button:focus {
	color: #ff6465;
}

blockquote {
	border-color: #ff6465;
}

mark,
ins {
	background-color: #ff6465;
}

/* Link Hover Color */
a:focus,
a:hover {
	color: #222222;
}

/* Border Color */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
fieldset {
	border-color: #e7e7e7;
}

/* 50% of border color */
table,
.mce-item-table,
caption,
.mce-item-table caption,
tr,
.mce-item-table tr {
	border-color: rgba(231,231,231,0.5);
}

/* Button Text Color */
.page-links a,
.page-links a:hover,
.page-links a:focus,
button[disabled]:hover,
button[disabled]:focus,
.button,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	color: #fff;
}/* Button Text Color & Button Hover Text Color is same */


/* Button Background Color */
.button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.page-links a:hover,
.page-links a:focus {
	background-color: #ff6465;
}

/* Button Hover Background Color  */
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #000000;
}

/* Header Text  Color */
mark,
ins {
	color: #fff;
}